
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h1 class="page-title">
    Appointment System
    <small>Your family partner</small>
</h1>

<div class="row">
    <div class="col-md-4">
        <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span><span id="newDoctor30Days"></span> </span>
                </div>
                <div class="desc"> New Doctor in 30 Days </div>
            </div>
        </a>
    </div>

    <div class="col-md-4">
        <a class="dashboard-stat dashboard-stat-v2 green" href="#">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span><span id="newAppointments30Days"></span> </span>
                </div>
                <div class="desc"> New Appointments in 30 Days </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a class="dashboard-stat dashboard-stat-v2 green" href="#">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span><span id="upComingAppointments"></span> </span>
                </div>
                <div class="desc"> UpComing Appointments </div>
            </div>
        </a>
    </div>
</div>

<div class="clearfix"></div>
<!-- END DASHBOARD STATS 1-->

<script>
    $.ajax({
        url: "/Dashboard/NewDoctor30Days",
        type: "get",
        async: true,
        success: function (result) {

            $("#newDoctor30Days").html(result);
        },
        error: function () {

        }
    });

    $.ajax({
        url: "/Dashboard/NewAppointments30Days",
        type: "get",
        async: true,
        success: function (result) {

            $("#newAppointments30Days").html(result);
        },
        error: function () {

        }
    });
    $.ajax({
        url: "/Dashboard/UpComingAppointments",
        type: "get",
        async: true,
        success: function (result) {

            $("#upComingAppointments").html(result);
        },
        error: function () {

        }
    });
</script>


<div class="row">
    <div class="col-md-4">
        <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span><span id="totalDoctors"></span> </span>
                </div>
                <div class="desc"> Total Doctors</div>
            </div>
        </a>
    </div>

    <div class="col-md-4">
        <a class="dashboard-stat dashboard-stat-v2 green" href="#">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span><span id="totalAppointments"></span> </span>
                </div>
                <div class="desc"> Total Appointments in 30 Days </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a class="dashboard-stat dashboard-stat-v2 green" href="#">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span><span id="totalFinishedAppointments"></span> </span>
                </div>
                <div class="desc"> Total served Appointments </div>
            </div>
        </a>
    </div>
</div>

<div class="clearfix"></div>
<!-- END DASHBOARD STATS 1-->

<script>
    $.ajax({
        url: "/Dashboard/TotalDoctors",
        type: "get",
        async: true,
        success: function (result) {

            $("#totalDoctors").html(result);
        },
        error: function () {

        }
    });
    $.ajax({
        url: "/Dashboard/TotalAppointments",
        type: "get",
        async: true,
        success: function (result) {

            $("#totalAppointments").html(result);
        },
        error: function () {

        }
    });

    $.ajax({
        url: "/Dashboard/TotalFinishedAppointments",
        type: "get",
        async: true,
        success: function (result) {

            $("#totalFinishedAppointments").html(result);
        },
        error: function () {

        }
    });
</script>


<div class="row">
    <div class="col-lg-6 col-xs-12 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bubble font-dark hide"></i>
                    <span class="caption-subject font-hide bold uppercase">Recent Users</span>
                </div>
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            Actions
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;"> Option 1</a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                <a href="javascript:;">Option 2</a>
                            </li>
                            <li>
                                <a href="javascript:;">Option 3</a>
                            </li>
                            <li>
                                <a href="javascript:;">Option 4</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-4">
                        <!--begin: widget 1-1 -->
                        <div class="mt-widget-1">
                            <div class="mt-icon">
                                <a href="#">
                                    <i class="icon-plus"></i>
                                </a>
                            </div>
                            <div class="mt-img">
                                <img src="~/Content/assets/pages/media/users/avatar80_8.jpg">
                            </div>
                            <div class="mt-body">
                                <h3 class="mt-username">Diana Ellison</h3>
                                <p class="mt-user-title"> Lorem Ipsum is simply dummy text. </p>
                                <div class="mt-stats">
                                    <div class="btn-group btn-group btn-group-justified">
                                        <a href="javascript:;" class="btn font-red">
                                            <i class="icon-bubbles"></i> 1,7k
                                        </a>
                                        <a href="javascript:;" class="btn font-green">
                                            <i class="icon-social-twitter"></i> 2,6k
                                        </a>
                                        <a href="javascript:;" class="btn font-yellow">
                                            <i class="icon-emoticon-smile"></i> 3,7k
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end: widget 1-1 -->
                    </div>
                    <div class="col-md-4">
                        <!--begin: widget 1-2 -->
                        <div class="mt-widget-1">
                            <div class="mt-icon">
                                <a href="#">
                                    <i class="icon-plus"></i>
                                </a>
                            </div>
                            <div class="mt-img">
                                <img src="~/Content/assets/pages/media/users/avatar80_7.jpg">
                            </div>
                            <div class="mt-body">
                                <h3 class="mt-username">Jason Baker</h3>
                                <p class="mt-user-title"> Lorem Ipsum is simply dummy text. </p>
                                <div class="mt-stats">
                                    <div class="btn-group btn-group btn-group-justified">
                                        <a href="javascript:;" class="btn font-yellow">
                                            <i class="icon-bubbles"></i> 1,7k
                                        </a>
                                        <a href="javascript:;" class="btn font-blue">
                                            <i class="icon-social-twitter"></i> 2,6k
                                        </a>
                                        <a href="javascript:;" class="btn font-green">
                                            <i class="icon-emoticon-smile"></i> 3,7k
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end: widget 1-2 -->
                    </div>
                    <div class="col-md-4">
                        <!--begin: widget 1-3 -->
                        <div class="mt-widget-1">
                            <div class="mt-icon">
                                <a href="#">
                                    <i class="icon-plus"></i>
                                </a>
                            </div>
                            <div class="mt-img">
                                <img src="~/Content/assets/pages/media/users/avatar80_6.jpg">
                            </div>
                            <div class="mt-body">
                                <h3 class="mt-username">Julia Berry</h3>
                                <p class="mt-user-title"> Lorem Ipsum is simply dummy text. </p>
                                <div class="mt-stats">
                                    <div class="btn-group btn-group btn-group-justified">
                                        <a href="javascript:;" class="btn font-yellow">
                                            <i class="icon-bubbles"></i> 1,7k
                                        </a>
                                        <a href="javascript:;" class="btn font-red">
                                            <i class="icon-social-twitter"></i> 2,6k
                                        </a>
                                        <a href="javascript:;" class="btn font-green">
                                            <i class="icon-emoticon-smile"></i> 3,7k
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end: widget 1-3 -->
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-6 col-xs-12 col-sm-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-microphone font-dark hide"></i>
                    <span class="caption-subject bold font-dark uppercase"> Recent Projects</span>
                    <span class="caption-helper">default option...</span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                        <label class="btn blue btn-outline btn-circle btn-sm active">
                            <input type="radio" name="options" class="toggle" id="option1">Actions
                        </label>
                        <label class="btn  blue btn-outline btn-circle btn-sm">
                            <input type="radio" name="options" class="toggle" id="option2">Tools
                        </label>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mt-widget-4">
                            <div class="mt-img-container">
                                <img src="~/Content/assets/pages/img/background/34.jpg" />
                            </div>
                            <div class="mt-container bg-purple-opacity">
                                <div class="mt-head-title"> Website Revamp & Deployment </div>
                                <div class="mt-body-icons">
                                    <a href="#">
                                        <i class=" icon-pencil"></i>
                                    </a>
                                    <a href="#">
                                        <i class=" icon-map"></i>
                                    </a>
                                    <a href="#">
                                        <i class=" icon-trash"></i>
                                    </a>
                                </div>
                                <div class="mt-footer-button">
                                    <button type="button" class="btn btn-circle btn-danger btn-sm">Dior</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mt-widget-4">
                            <div class="mt-img-container">
                                <img src="~/Content/assets/pages/img/background/46.jpg" />
                            </div>
                            <div class="mt-container bg-green-opacity">
                                <div class="mt-head-title"> CRM Development & Deployment </div>
                                <div class="mt-body-icons">
                                    <a href="#">
                                        <i class=" icon-social-twitter"></i>
                                    </a>
                                    <a href="#">
                                        <i class=" icon-bubbles"></i>
                                    </a>
                                    <a href="#">
                                        <i class=" icon-bell"></i>
                                    </a>
                                </div>
                                <div class="mt-footer-button">
                                    <button type="button" class="btn btn-circle blue-ebonyclay btn-sm">Nike</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mt-widget-4">
                            <div class="mt-img-container">
                                <img src="~/Content/assets/pages/img/background/37.jpg" />
                            </div>
                            <div class="mt-container bg-dark-opacity">
                                <div class="mt-head-title"> Marketing Campaigns </div>
                                <div class="mt-body-icons">
                                    <a href="#">
                                        <i class=" icon-bubbles"></i>
                                    </a>
                                    <a href="#">
                                        <i class=" icon-map"></i>
                                    </a>
                                    <a href="#">
                                        <i class=" icon-cup"></i>
                                    </a>
                                </div>
                                <div class="mt-footer-button">
                                    <button type="button" class="btn btn-circle btn-success btn-sm">Honda</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-microphone font-dark hide"></i>
                    <span class="caption-subject bold font-dark uppercase"> Activities</span>
                    <span class="caption-helper">default option...</span>
                </div>
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn red btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            Actions
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;"> Option 1</a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                <a href="javascript:;">Option 2</a>
                            </li>
                            <li>
                                <a href="javascript:;">Option 3</a>
                            </li>
                            <li>
                                <a href="javascript:;">Option 4</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue-hoki">
                                <div class="mt-head-icon">
                                    <i class=" icon-social-twitter"></i>
                                </div>
                                <div class="mt-head-desc"> Lorem Ipsum is simply dummy text of the ... </div>
                                <span class="mt-head-date"> 25 Jan, 2015 </span>
                                <div class="mt-head-button">
                                    <button type="button" class="btn btn-circle btn-outline white btn-sm">Add</button>
                                </div>
                            </div>
                            <div class="mt-body-actions-icons">
                                <div class="btn-group btn-group btn-group-justified">
                                    <a href="javascript:;" class="btn ">
                                        <span class="mt-icon">
                                            <i class="glyphicon glyphicon-align-justify"></i>
                                        </span>RECORD
                                    </a>
                                    <a href="javascript:;" class="btn ">
                                        <span class="mt-icon">
                                            <i class="glyphicon glyphicon-camera"></i>
                                        </span>PHOTO
                                    </a>
                                    <a href="javascript:;" class="btn ">
                                        <span class="mt-icon">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </span>DATE
                                    </a>
                                    <a href="javascript:;" class="btn ">
                                        <span class="mt-icon">
                                            <i class="glyphicon glyphicon-record"></i>
                                        </span>RANC
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-red">
                                <div class="mt-head-icon">
                                    <i class="icon-user"></i>
                                </div>
                                <div class="mt-head-desc"> Lorem Ipsum is simply dummy text of the ... </div>
                                <span class="mt-head-date"> 12 Feb, 2016 </span>
                                <div class="mt-head-button">
                                    <button type="button" class="btn btn-circle btn-outline white btn-sm">Add</button>
                                </div>
                            </div>
                            <div class="mt-body-actions-icons">
                                <div class="btn-group btn-group btn-group-justified">
                                    <a href="javascript:;" class="btn ">
                                        <span class="mt-icon">
                                            <i class="glyphicon glyphicon-align-justify"></i>
                                        </span>RECORD
                                    </a>
                                    <a href="javascript:;" class="btn ">
                                        <span class="mt-icon">
                                            <i class="glyphicon glyphicon-camera"></i>
                                        </span>PHOTO
                                    </a>
                                    <a href="javascript:;" class="btn ">
                                        <span class="mt-icon">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </span>DATE
                                    </a>
                                    <a href="javascript:;" class="btn ">
                                        <span class="mt-icon">
                                            <i class="glyphicon glyphicon-record"></i>
                                        </span>RANC
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-green">
                                <div class="mt-head-icon">
                                    <i class=" icon-graduation"></i>
                                </div>
                                <div class="mt-head-desc"> Lorem Ipsum is simply dummy text of the ... </div>
                                <span class="mt-head-date"> 3 Mar, 2015 </span>
                                <div class="mt-head-button">
                                    <button type="button" class="btn btn-circle btn-outline white btn-sm">Add</button>
                                </div>
                            </div>
                            <div class="mt-body-actions-icons">
                                <div class="btn-group btn-group btn-group-justified">
                                    <a href="javascript:;" class="btn ">
                                        <span class="mt-icon">
                                            <i class="glyphicon glyphicon-align-justify"></i>
                                        </span>RECORD
                                    </a>
                                    <a href="javascript:;" class="btn ">
                                        <span class="mt-icon">
                                            <i class="glyphicon glyphicon-camera"></i>
                                        </span>PHOTO
                                    </a>
                                    <a href="javascript:;" class="btn ">
                                        <span class="mt-icon">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </span>DATE
                                    </a>
                                    <a href="javascript:;" class="btn ">
                                        <span class="mt-icon">
                                            <i class="glyphicon glyphicon-record"></i>
                                        </span>RANC
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>